
.chat-stream{
  height: 80vh;
  overflow-y: scroll;
}
.stream-div {
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: auto;
  height: 100%;
}
.chat-message-wrapper{
  width: 100%;
  display: inline-block;
}
.chat-message{
  background: lightcoral;
  border-radius: 4px;
  margin: 4px 0px;
  padding: 8px;
  width: 500px;
}
.chat-username{
  color: gray;
  border-bottom: 1px solid gray;
  font-size: 12px;
}
